.darkmode-off {
	color: white;
	background-color: black;
}

.darkmode-on {
	color: black;
	background-color: white;
}

.header-darkmode-button {
	cursor: pointer;
}

.pokemon-input-number:invalid + span:after {
	content: '✖';
	padding-left: 5px;
}

.pokemon-input-number:valid + span:after {
	content: '✓';
	padding-left: 5px;
}

.loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.heightlight {
	color: gold;
}

.loading-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
